<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 id="text">Site successfully work!</h1>
        <p id="routes">Routes</p><br>
        <a id="1route" href="http://127.0.0.1:8080/get_users">/all_users</a><br>
        <a id="2route" href="http://127.0.0.1:8080/user/">/user/{user_id}</a><br>
        <a id="3route" href="http://127.0.0.1:8080/add_user">/add_user</a><br>
        <a id="4route" href="http://127.0.0.1:8080/delete_user">/delete_user</a>
    </div>
</body>
</html>
